DATA STRUCTURES IN PYTHON

## Topic 1: List Excercise

In [ ]:
Q1. Create a list of 5 random numbers and print the list.

In [19]:
Numbers= [5,12,8,20,3]
print("Numbers=",Numbers)

Numbers= [5, 12, 8, 20, 3]

In [ ]:
Q2. Insert 3 new values to the list and print the updated list.

In [77]:
Numbers.extend([2,6,10])
print("Updated list=",Numbers)

Updated list= [5, 12, 8, 20, 3, 2, 6, 10]

In [ ]:
Q3. Try to use a for loop to print each element in the list.

In [79]:
for i in Numbers :
 print(i)

5
12
8
20
3
2
6
10

## Topic 2: Dictionary Exercise

In [ ]:
Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively

In [23]:
Person={"name":"John",
        "age":25,
        "address":"New York"}
print("Person=",Person)

Person= {'name': 'John', 'age': 25, 'address': 'New York'}

In [ ]:
Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [11]:
Person['phone'] = '1234567890'
print("Updated dictionary=",Person)

Updated dictionary= {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Topic 3: Set Exercise

In [ ]:
Q1 .Create a set with values 1, 2, 3, 4, and 5.

In [25]:
numbers_set={1,2,3,4,5}
print("Numbers=",numbers_set)

Numbers= {1, 2, 3, 4, 5}

In [ ]:
Q2. Add the value 6 to the set created in Q1.

In [59]:
numbers_set.add(6)
print("Updated set after adding 6 =",numbers_set)

Updated set after adding 6 = {1, 2, 3, 4, 5, 6}

In [ ]:
Q3. Remove the value 3 from the set created in Q1.

In [63]:
numbers_set.remove(3)
print("Updated set after removing 3 =",numbers_set)

Updated set after removing 3 = {1, 2, 4, 5, 6}

## Topic 4:Tuple Exercise

In [ ]:
Q1. Create a tuple with values 1, 2, 3, and 4

In [69]:
Tuple=(1,2,3,4)
print(" Number tuple=",Tuple)

 Number tuple= (1, 2, 3, 4)

In [ ]:
 Q2. Print the length of the tuple created in Q1.

In [75]:
print("The length of Number tuple=",len(Tuple))

The length of Number tuple= 4